---
layout: default
title: Home
---
<h3>Notes</h3>
<div class="">  <!-- post -->
  {% for post in paginator.posts %}
    {% if post.title contains "Notes"  %}
  <div class="">   <!-- post -->
    <span class="post-title">
      <span class="post-title"></span>
      <a href="{{ post.url | absolute_url }}">
        {{ post.date | date_to_string }} : {{ post.title }}
      </a>
    </span>
    <!-- {{ post.content }} -->
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="line"></div>
<h3>Scratch Pad</h3>
<div class="">  <!-- post -->
  {% for post in paginator.posts %}
    {% if post.title contains "Musing"  %}
  <div class="">   <!-- post -->
    <span class="post-title">
      <span class="post-title"></span>
      <a href="{{ post.url | absolute_url }}">
        {{ post.date | date_to_string }} : {{ post.title }}
      </a>
    </span>
    <!-- {{ post.content }} -->
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="line"></div>
<h3>Book Summary</h3>
<div class="">  <!-- post -->
  {% for post in paginator.posts %}
    {% if post.title contains "Book"  %}
  <div class="">   <!-- post -->
    <span class="post-title">
      <span class="post-title"></span>
      <a href="{{ post.url | absolute_url }}">
        {{ post.date | date_to_string }} : {{ post.title }}
      </a>
    </span>
    <!-- {{ post.content }} -->
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="line"></div>
<h3>Jyupter Notebooks</h3>
<div class="">  <!-- post -->
  {% for post in paginator.posts %}
    {% if post.title contains "Notebooks"  %}
  <div class="">   <!-- post -->
    <span class="post-title">
      <span class="post-title"></span>
      <a href="{{ post.url | absolute_url }}">
        {{ post.date | date_to_string }} : {{ post.title }}
      </a>
    </span>
    <!-- {{ post.content }} -->
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 10 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
